#canvas{
  position: absolute;
  top:0;
  left:0;
  z-index:9;
}
.getWidth{
  position: absolute;
  top:0;
  left:-9999px;
}
.wrap{
  width:720px;
  margin:0 auto;
  text-align: center;
  padding-top:20px;
  .main{
    position: relative;
    margin: 20px 0;
  }
  h1{
    font-family: woff;
    font-size:24px;
  }
}

@font-face {
  font-family: 'woff';
  src: url('../font/font.woff');
}
